<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.jmg.dao.ResuMgtDao">

	<!-- 공지사항 목록 조회 -->
	<select id = "resuMgtList" resultType = "kr.happyjob.study.jmg.model.ResuMgtModel">
		 SELECT
				tc.ci_no,
				tc.ci_name,
                tc.loginID,
				tu.name,
		        (
                   select count(tl.loginID)
                     from tb_list tl
                    where tc.ci_no = tl.ci_no
                ) as people,
				DATE_FORMAT(tc.ci_start, '%Y.%m.%d') as ci_start, 
		    	DATE_FORMAT(tc.ci_end, '%Y.%m.%d') as ci_end
		   FROM tb_classinfo tc 
		        NATURAL JOIN tb_userinfo tu 
 		<where>
			<if test ="(searchWord != null) and (!searchWord.equals(''))">
			    and tc.ci_name  Like CONCAT('%', #{searchWord}, '%')
			</if>
		</where> 
		 ORDER BY tc.ci_name DESC
		 LIMIT #{pageIndex}, #{pageSize}
	</select>
	
		
	
	<select id="resuMgtCnt" resultType="int">
		/*kr.happyjob.study.jmg.dao.ResuMgtDao.resuMgtCnt*/
		SELECT count(*)
		FROM tb_classinfo
 		<where>
			<if test ="(searchWord != null) and (!searchWord.equals(''))">
			    and ci_name  Like CONCAT('%', #{searchWord}, '%')
			</if>
		</where> 
	</select>
	
		<!-- 학생 목록 조회 -->
	<select id="listResuMgtDtl" resultType="kr.happyjob.study.jmg.model.ResuMgtDtlModel">
		SELECT ci_no, name, loginID, tel, email, job_yn, email_detail
		FROM tb_userinfo NATURAL JOIN tb_list 
				NATURAL JOIN tb_jobinf 
		WHERE ci_no = #{classNo}
		GROUP BY name
		LIMIT #{pageIndex}, #{pageSize}
	</select>
	
	<!-- 학생 목록 총 갯수 조회 -->
	<select id="countListResuMgtDtl" resultType="int">
		/*kr.happy.study.system.dao.ResuMgtDao.countListResuMgtDtl*/
		SELECT COUNT(name) AS tot_cnt FROM tb_userinfo NATURAL JOIN tb_list 
				NATURAL JOIN tb_jobinf 
		WHERE ci_no = #{classNo}
		
	</select>
	
		<!-- 학생 목록 단건 조회 -->
	<select id="selectResuMgtDtl" resultType="kr.happyjob.study.jmg.model.ResuMgtDtlModel">
		/*kr.happy.study.system.dao.ResuMgtDao.selectResuMgtDtl*/
		SELECT grade, name, residence, loginID, gender, tel, birthday, email, email_detail, profile, add_technic, user_hope_work, 
				careeryear, careermonth, hopesalary, salary_nego, career_content, etc, user_type
		FROM	tb_userinfo
		WHERE tb_userinfo.loginID = #{loginID}
	</select>	
</mapper>

